<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V14</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<form action="{% url 'contact_citizen' %}" method="post">
    {% csrf_token %}
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Форма обратной связи
				</span>

                <label class="label-input100" for="first-name">Фамилия Имя Отчество</label>
                <div class="wrap-input100 rs1 validate-input">
                    <input class="input100" type="text" name="fio" placeholder="ФИО">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="phone">Наименование организации</label>
                <div class="wrap-input100">
                    <input class="input100" type="text" name="organisation" placeholder="Наименование">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="first-name">Адрес</label>
                <div class="wrap-input100 rs1 validate-input">
                    <input class="input100" type="text" name="address" placeholder="Адрес">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="email">Email для обратной связи</label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="message">Сообщение для нас</label>
                <div class="wrap-input100 validate-input">
                    <textarea class="input100" type="text" name="text" placeholder="Текст"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
						<span>
							Отправить
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</form>


<!--===============================================================================================-->
<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/bootstrap/js/popper.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../static/js/main.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
